/*======================
Paleta de Colores
=======================*/
:root {
    --yellow: #eed622;
    --turquoise: #07a2a4;
    --green: #317a6d;
    --dark: #1e1e1e;
    --gray: #a6a6a6;
}

/*======================
Estilos de Navbar
=======================*/
.navbar{
    background: #07a1a400;
    transition: ease-in-out 1s;
}
.navbar.nav-abajo{
    background: var(--dark);
}

.navbar-nav a {
    color: var(--gray);
    font-family: 'Roboto Condensed Variable';
    font-weight: 500;
}

.navbar-nav a:hover {
    color: var(--yellow);
}

/*======================
Estilos de Header
=======================*/
header {
    background: rgb(100, 98, 98);
    background: radial-gradient(circle, rgba(100, 98, 98, 1) 0%, rgba(75, 74, 74, 1) 0%, rgba(34, 34, 34, 1) 46%, rgba(0, 0, 0, 1) 100%);
    text-transform: uppercase;
}

header .text-center {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

header .text-center.visible {
    opacity: 1;
    transform: translateY(0);
}



header .logo {
    width: 30vh;
   
}

header .text-gradiant {
    background-image: linear-gradient(to right, var(--turquoise) 19%, var(--yellow) 19%,var(--yellow) 70%, var(--turquoise) 100%);
    background-clip: text;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-position: left center;
    -webkit-text-fill-color: transparent;
    font-size: 8vw;
    font-family: 'Roboto Condensed Variable';
    font-weight: 500;
    animation: moverGradiante 3.5s linear;
    animation-delay: .5s;
    
    
}
@keyframes moverGradiante {
    0% {background-position: 0% 50%;}
    100% { background-position: 200% 50%; }
    
}

header .bttnDownload{
    background-color: #a6a6a635;
    color: var(--turquoise);
    padding: 4px 12px;
    font-size: 2vw;
    font-family:'Roboto Condensed Variable' ;
    border-radius: 5px;
    border: solid 1px var(--turquoise);
    font-weight: 300;
    transition: ease-in-out .5s;
    
}



header .bttnDownload:hover{
    color: var(--yellow);
    border-color: var(--yellow);
    font-weight: 600;
    box-shadow: 0px 0px 8px var(--yellow);
}

/*======================
Estilos de Header
=======================*/
footer{
    background-image: url(assets/bg-footer.svg);
    background-position: center;
    background-size: cover;
    height: 50vh;
}